@import '~src/scss/variables';

.line {
  display: flex;
  border-bottom: 1px solid $border-color;
}

.day {
  width: 31px;
  border-right: 1px solid $border-color;
  text-align: center;
  cursor: pointer;

  @media (max-width: $screen-lg - 1) {
    width: 24px;
  }
}

.sunday {
  border-right: 1px solid $black;
}

.day-off {
  color: $red;
}

.absence {
  background-color: $blue;
  color: $white;
}

// строка, в которой происходит выделение ячеек
.selected-row {

  // ячейка - в выделенном диапазоне
  .selected-cell:not(.absence):not(.selected-start) {
    background-color: #bbd6ee;

    &:hover {
      background-color: #78addd;
    }
  }

  // ячейка - начало выделения
  .selected-start {
    background-color: $blue;

    &:hover {
      background-color: $blue;
    }
  }

  .absence,
  div:not(.selected-cell):not(.selected-start) {
    cursor: default;
  }
}
