@import '~src/scss/variables';

.absence-panel {
  width: 440px;
  background-color: $white;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
}

.absence-panel-content {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.absence-panel-header {
  flex-shrink: 0;
  font-size: 20px;
}

.absence-panel-main {
  flex-grow: 1;
  padding: 15px 0;
  font-size: 16px;

  .mat-form-field {
    width: 100%;
  }
  
  .mat-form-field-infix {
    width: 100%;
  }
}

.absence-panel-actions {
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  font-size: 14px;

  >div {
    display: flex;
    flex-shrink: 0;
  }

  .mat-button {
    display: block;
  }

  button + button {
    margin-left: 5px;
  }
}
