<div
  class="absence-panel"
  [@panelContent]="animationState"
  (@panelContent.start)="onAnimationStart($event)"
  (@panelContent.done)="onAnimationDone($event)"
>
  <form
    class="absence-panel-content"
    [formGroup]="absenceForm"
    (ngSubmit)="save()"
  >

    <!-- заголовок -->
    <div class="absence-panel-header">Неявка</div>

    <!-- основное содержимое -->
    <div class="absence-panel-main">
      <mat-form-field>
        <mat-label>Причина отсутствия</mat-label>
        <mat-select formControlName="cause" required>
          <mat-option *ngFor="let cause of panelData.causeList" [value]="cause.key">
            {{cause.value}}
          </mat-option>
        </mat-select>

        <mat-error>Выберите причину отсутствия</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Период отсутствия</mat-label>
        <input
          type="text"
          matInput
          ngxDaterangepickerMd
          [locale]="{format: 'DD MMM YYYY'}"
          [autoApply]="true"
          formControlName="daterange"
          readonly
          required
        />
      </mat-form-field>
    </div>

    <!-- кнопки -->
    <div class="absence-panel-actions">
      <div>
        <button mat-flat-button color="primary" type="submit">
          Применить
        </button>
        
        <button mat-button (click)="cancel()">Отменить</button>
      </div>

      <div>
        <button *ngIf="panelData.editing" mat-button (click)="delete()">Удалить</button>
      </div>
    </div>
  </form>
</div>
