@import '~src/scss/app-theme.scss';
@import '~src/scss/variables';

html, body { height: 100%; }

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.md-drppicker.double {
  @media (min-width: $screen-smd) {
    min-width: 550px;
  }
}
