// размеры экрана
$screen-lg: 1280px;
$screen-md: 960px;
$screen-smd: 768px;
$screen-sm: 600px;
$screen-xs: 480px;

// цвета
$font-color: #333333;
$white: #ffffff;
$black: #000000;
$blue: #1e77c7;
$dark-grey: #777777;
$red: #ce1f2d;
$border-color: #d4d4d4;
