@import '~src/scss/variables';

.container {
  font-size: 14px;
  color: $font-color;
  line-height: 21px;
}



// для экранов 768px и более
.container-desctop {
  display: flex;
  flex-grow: 1;
  min-height: calc(100vh - 50px);
}

// левая часть
.left-part {
  flex-shrink: 0;
  width: 260px;
  padding-bottom: 30px;
  border-right: 1px solid $border-color;

  @media (max-width: ($screen-lg - 1)) {
    width: 200px;
  }

}

.departments {
  padding-top: 18px;
  padding-left: 16px;
  padding-right: 16px;

  .mat-form-field {
    width: 100%;
  }
}

.user-list {
  padding-top: 44px;
}

.user-list-item {
  >div {
    padding-left: 20px;
    padding-right: 5px;
    line-height: 21px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    border-bottom: 1px solid $border-color;
  }

  .workgroup-name {
    padding-top: 5px;
    font-weight: 700;
  }

  .user-name {
    cursor: pointer;
  }
}

// центарльная часть
.central-part-header {
  position: fixed;
  top: 50px;
  left: 260px;
  z-index: 10;
  background: #ffffff;

  @media (max-width: ($screen-lg - 1)) {
    left: 200px;
  }
}

.date-selection {
  display: flex;
  align-items: center;
  padding: 30px 20px 20px 20px;
  color: $dark-grey;
}

.date-selection-arrow {
  width: 24px;
  height: 24px;
  cursor: pointer;

  & + .date-selection-arrow {
    margin-left: 10px;
  }
}

.date-selection-name {
  margin-left: 10px;
  font-size: 20px;
  text-transform: capitalize;
  line-height: 24px;
  cursor: pointer;
}

.calendar-body {
  padding-top: 119px;

  .workgroup-name {
    padding-top: 5px;
    border-bottom: 1px solid $border-color;
    border-right: 1px solid $border-color;
  }
}

.footnote {
  padding: 10px;
  font-size: 13px;
}

// правая часть
.right-part {
  position: relative;
  padding-left: 20px;

  @media (max-width: 1399px) {
    display: none;
  }
}

.right-part-list {
  position: fixed;
  top: 120px;
  left: initial;
}



// ДЛЯ МОБИЛЬНОЙ ВЕРСИИ
// для экранов менее 768px
::ng-deep.mobile-first-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px;
  border-bottom: 1px solid $border-color;

  .mat-form-field-infix {
    width: 140px;
  }
}

// выбор даты
.mobile-date-selection {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
}

.mobile-date-selection-arrow {
  width: 24px;
  height: 24px;
}

.mobile-date-selection-name {
  font-size: 16px;
  line-height: 24px;
  text-transform: capitalize;
}

// календарь
.mobile-calendar-header {
  display: flex;

  .item {
    width: 100%;
    height: 30px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 30px;

    &:nth-child(6),
    &:nth-child(7) {
      color: $red;
    }
  }
}

.mobile-third-part {
  padding: 15px;
  border-top: 1px solid $border-color;
}
