<div class="container">
  
  <!-- для экранов 768px и более -->
  <div class="container-desctop" *ngIf="!isMobile">
    
    <!-- левая часть -->
    <div class="left-part">

      <!-- выбор отделов -->
      <div class="departments">
        <mat-form-field floatLabel="never">
          <mat-select [value]="select.department" (selectionChange)="getUsers($event.value, sdate)">
            <mat-option *ngFor="let department of departmentList" [value]="department.key">
              {{department.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <!-- список сотрудников -->
      <div class="user-list">
        <div class="user-list-item" *ngFor="let item of usersList | keyvalue">
          <div class="workgroup-name">{{item.key}}</div>

          <div class="user-name" *ngFor="let user of item.value" (click)="showUserInfoPanel($event, user)">
            {{user.name}}
          </div>
        </div>
      </div>
    </div>

    <!-- центральная часть -->
    <div class="central-part">

      <!-- выбор даты и заголовок календаря -->
      <div class="central-part-header">

        <!-- выбор даты -->
        <div class="date-selection">
          <div class="date-selection-arrow" (click)="showPrevDate()">
            <mat-icon svgIcon="workplan:keyboard_arrow_left"></mat-icon>
          </div>

          <div class="date-selection-arrow" (click)="showNextDate()">
            <mat-icon svgIcon="workplan:keyboard_arrow_right"></mat-icon>
          </div>

          <div class="date-selection-name" (click)="showCalendar($event)">
            {{dateInformation.month.name}}
          </div>
        </div>

        <!-- заголовок календаря -->
        <div class="calendar-header">
          <app-workplan-calendar-header
            [daysInMonth]="daysArray"
          ></app-workplan-calendar-header
            >
        </div>
      </div>

      <!-- тело календаря -->
      <div class="calendar-body">
        <div *ngFor="let item of usersList | keyvalue">
          <div class="workgroup-name">&nbsp;</div>
        
          <div *ngFor="let user of item.value">
            <app-workplan-row
              [userLogin]="user.login" 
              [causeList]="dictCause"
            ></app-workplan-row>
          </div>
        </div>
      </div>

      <div class="footnote">
        *Чтобы добавить неявку, кликните по ячейке с датой начала, а затем по ячейке с датой окончания неявки
      </div>
    </div>

    <!-- правая часть -->
    <div class="right-part">
      <div class="right-part-list">
        <div class="item" *ngFor="let item of deciphermentOfAbbreviations">
          {{item}}
        </div>
      </div>
    </div>
  </div>
  
  <!-- для экранов менее 768px -->
  <div class="container-mobile" *ngIf="isMobile">
    
    <!-- верхняя часть -->
    <div class="mobile-first-part">

      <!-- выбор отдела -->
      <div class="mobile-departments">
        <mat-form-field floatLabel="never">
          <mat-select [value]="select.department" (selectionChange)="getUsers($event.value, sdate)">
            <mat-option *ngFor="let department of departmentList" [value]="department.key">
              {{department.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <!-- выбор сотрудника -->
      <div class="mobile-users">
        <mat-form-field floatLabel="never">
          <mat-select [value]="select.user.login" (selectionChange)="selectUser($event.value)">
            <mat-option *ngFor="let user of notGroupedUserList" [value]="user.login">
              {{user.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <!-- средняя часть -->
    <div class="mobile-second-part">

      <!-- выбор даты -->
      <div class="mobile-date-selection">
        <div class="mobile-date-selection-arrow" (click)="showPrevDate()">
          <mat-icon svgIcon="workplan:keyboard_arrow_left"></mat-icon>
        </div>

        <div class="mobile-date-selection-name" (click)="showCalendar($event)">
          {{dateInformation.month.name}}
        </div>
      
        <div class="mobile-date-selection-arrow" (click)="showNextDate()">
          <mat-icon svgIcon="workplan:keyboard_arrow_right"></mat-icon>
        </div>
      </div>

      <!-- календарь -->
      <div class="mobile-calendar">
        
        <!-- заголовок -->
        <div class="mobile-calendar-header">
          <div class="item" *ngFor="let item of weekArray">
            {{item}}
          </div>
        </div>

        <!-- Тело календаря -->
        <div class="mobile-calendar-body">
          <app-workplan-row-mobile [causeList]="dictCause"></app-workplan-row-mobile>
        </div>
      </div>
    </div>

    <!-- нижняя часть -->
    <div class="mobile-third-part">
      *СБ и ВС — выходные дни, все остальные — рабочие.
    </div>
  </div>
</div>
