@import '~src/scss/variables';

.container {
  font-size: 14px;
  color: $font-color;
  line-height: 21px;
}



// для экранов 768px и более
.container-desctop {
  display: flex;
  flex-grow: 1;
  min-height: calc(100vh - 50px);
}

// левая часть
.left-part {
  flex-shrink: 0;
  width: 260px;
  padding-bottom: 30px;
  border-right: 1px solid $border-color;
}

.departments {
  padding-top: 18px;
  padding-left: 16px;
  padding-right: 16px;

  .mat-form-field {
    width: 100%;
  }
}

.user-list {
  padding-top: 44px;
}

.user-list-item {
  >div {
    padding-left: 20px;
    padding-right: 5px;
    line-height: 21px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    border-bottom: 1px solid $border-color;
  }

  .workgroup-name {
    padding-top: 5px;
    font-weight: 600;
  }

  .user-name {
    cursor: pointer;
  }
}

// центарльная часть
.central-part-header {
  position: fixed;
  top: 50px;
  left: 261px;
  z-index: 10;
  background: #ffffff;
}

.date-selection {
  display: flex;
  align-items: center;
  padding: 30px 20px 20px 20px;
  color: $dark-grey;
}

.date-selection-arrow {
  width: 24px;
  height: 24px;
  cursor: pointer;

  & + .date-selection-arrow {
    margin-left: 10px;
  }
}

.date-selection-name {
  margin-left: 10px;
  font-size: 20px;
  text-transform: capitalize;
  line-height: 24px;
}

.calendar-body {
  padding-top: 119px;

  .workgroup-name {
    padding-top: 5px;
    border-bottom: 1px solid $border-color;
    border-right: 1px solid $border-color;
  }
}

// правая часть
.right-part {
  position: relative;
  padding-left: 20px;
}

.right-part-list {
  position: fixed;
  top: 120px;
  left: initial;
}
